[Unit]
Description=Embercat bot service
After=network.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/bot/embercat
ExecStart=/var/bot/embercat/embercat
Restart=always

[Install]
WantedBy=multi-user.target